@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Local Theatre<br />
    Dumbarton <br />
    <abbr title="Phone">P:</abbr>
    01389 555555
</address>

<address>
    <strong>Box Office:</strong> <a href="mailto:boxoffice@localtheatre.co.uk">boxoffice@localtheatre.co.uk</a><br />
    <strong>Information:</strong> <a href="mailto:info@localtheatre.co.uk">info@localtheatre.co.uk</a><br />
    <strong>Advertising:</strong> <a href="mailto:sponsorship@localtheatre.co.uk">sponsorship@localtheatre.co.uk</a>
</address>