@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron jumbotron-fluid" >
    <div class="container">
        <img src="~/images/Local_Theatre_Company_Logo.jpg" class="" alt="Responsive image">
    </div>
</div>
<blockquote class="blockquote">
    <p class="mb-0">Something, something..stage">
        Someone famous in
        <cite title="Source Title">History</cite>
    </footer>
</blockquote>



